
<div class="container" id="post">
  <div class="post">
    <div id="post-card" class="card">
       
    </div>

    <div id="post-comment" class="comments">
      <h3>Comments :-</h3>
      <form class="form-group" action="/mars/gallery/<%= page %>/<%= id %>  '" method="POST">
        <div class="input-group">
          <textarea placeholder="your good thoughts about this image" name="comment" id="comment" class="form-control" aria-label="With textarea" required></textarea>
        </div>
        <div class="input-group">
          <input placeholder="your sweet name" type="text" id="name" name="name" required />
          <div class="input-group-append">
            <button class="btn btn-outline-info" type="submit">POST</button>
          </div>
        </div>
     </form>
      <% let actv = true %>
        <ul class="list-group" id="commentlist">
      <% comments.forEach(ele => { %>
         <% actv = false %> 
        <li class="list-group-item"><strong><%= ele.name %>:- </strong> <%= ele.comment %></li>
      <% }) %>
        </ul>
      <% if(actv) { %> 
        <ul class="list-group" id="randomCommentlist"></ul>
      <% console.log("kuch") %> 
      <% } %> 
       
    </div>
  </div>
</div>


<div id="id"><%= id %></div>
<div id="page"><%= page %></div>



 <!-- fetching api data -->

 <script>
  const photourl = "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos"
  const roverurl = "https://api.nasa.gov/mars-photos/api/v1/rovers"
  const curiosityurl = "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity"
  const api_key = '<%= process.env.API_KEY %>'

  const commentArray = [ "Hey It's look cool",
                         "O , no mai bhi mars jaunga ",
                         "Actually We are ReallY a super powerful being, Getting a Image of so far Planet in bed",
                         "I Love Space Exploration , It's cool website , Really make me thing so wide of space ",
                         "Hey Spacian Who wannna go to mars Say in comment \"Martians\" ",
                         "Martians",
                         "Martians",
                         "Hey I love to be as a spacian"
                        ]
  const nameArray = [ "Shahid",
                         "Preyash2",
                         "John",
                         "Kyle392",
                         "Kyle2",
                         "Kyle232",
                         "shivam",
                         "ravi",
                         "raju",
                         "viggy",
                         "deepu",
                         "deepak",
                         "Monish_1",
                        "AmSorry"
                        ]
  const colorArray = [ "list-group-item-primary",
                         "list-group-item-secondary",
                         "list-group-item-success",
                         "list-group-item-danger",
                         "list-group-item-warning",
                         "list-group-item-info"
                        ]


  const id = document.getElementById('id').innerText
  const page = document.getElementById('page').innerText
  const post = document.getElementById('post-card')
  const commentList = document.getElementById('commentlist')
  const randomComments = document.getElementById('randomCommentlist')
  
  let sol = "1000"
  let lcomment = commentArray.length
  let lcolor = colorArray.length
  let lname = nameArray.length
  let y,z,x
  
  // fetching data
  callMars(page, id)
  appendRandomColor()
  if(randomComments != null){
    appendRandomComment()
  }
  
  function postButton(){
    document.getElementById('like').addEventListener('click', (e) => {
      e.preventDefault()
      document.getElementById('like').classList.add('btn-info')
    })
    document.getElementById('share').addEventListener('click', (e) => {
      e.preventDefault()
    })
  }
  
  function appendRandomColor() {
     let cl
     for(let i=0;i<commentList.childElementCount;i++){
       cl = Math.floor(Math.random() * lcolor)
      commentList.children[i].classList.add(colorArray[cl])
     }
  }

  function appendRandomComment() {
       let cll , cm , cn
      
       nameArray.forEach(name => {
          cll = Math.floor(Math.random() * lcolor)
          cm = Math.floor(Math.random() * lcomment)
          cn = Math.floor(Math.random() * lname)
          
          z = '<li class="list-group-item ' +
                colorArray[cll] + '"><strong>' +
                name+':- </strong>' +
                commentArray[cm] +'</li>'

          randomComments.innerHTML += z
       })
  }

   async function callMars(page, id){
     await fetch(`${photourl}?sol=${sol}&page=${page}&api_key=${api_key}`)
      .then((res) => res.json())
      .then((data) => {
          const arr = data.photos
          
          const e = arr.filter(ele => ele.id == id)[0]
          y = '<h5 class="card-header text-white bg-info">' +
                    e.id +
                 '</h5><img src="' +
                    e.img_src +
                  '" alt = "mai hu marstian" class="card-img-top" />' +
                  '<form class="form-inline">' +
                    '<button type="submit" id="like" class="btn mb-2 mr-3">Like</button>' +
                    '<button type="submit" id="share" class="btn btn-info mb-2">Share</button>' +
                  '</form>' +
                  '<div class="card-body">' +
                    '<div class="row">' +
                      '<div class="col-12 col-lg-4">' +
                        '<strong>'+Math.floor((Math.random() * 50)+50) +'</strong> people likes' +
                      '</div>' +
                      '<div class="col-12 col-lg-4">' +
                        '<strong>Taken By:-</strong>' + e.camera.name+'('+
                        e.camera.full_name+ ')' +
                      '</div>' +
                      '<div class="col-12 col-lg-4">' +
                        '<strong>Rover :-</strong>'+e.rover.name+'(' +
                        e.rover.status +')' +
                      '</div>' +
                      '<div class="col-12 col-lg-4">' +
                        '<strong>Earth date:-</strong>' +e.earth_date +
                      '</div>' +
                    '</div>' +
                  '</div>' 

             post.innerHTML += y
             postButton()

      })
      .catch((err) => console.log(err))
   }
  </script>
  